.nj-adornment-icon {
    height: .01rem;
    display: flex;
    max-height: 2rem;
    align-items: center;
    white-space: nowrap;
}

.nj-input-pre-adornment {
    margin-right: 8px;
    margin-inline-end: 8px;
    margin-inline-start: unset;
    padding-left: 0.2rem;
}

.nj-input-post-adornment {
    margin-left: 8px;
    margin-inline-start: 8px;
    margin-inline-end: unset;
    padding-right: 0.2rem;
}

.nj-icon-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    fill: currentColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nj-icon-size-small {
    font-size: 100%;
}

.nj-icon-size-medium {
    font-size: 150%;
}

.nj-icon-size-large {
    font-size: 200%;
}

.nj-icon-size-xlarge {
    font-size: 250%;
}

.nj-icon-size-xxlarge {
    font-size: 300%;
}