:root {
    --input-box-inner-padding: 0.4rem;
    --input-line-height: 1.1rem;
}

.form-control {
    margin: 1rem 0 0 0;
}

    .form-control > .nj-input-control-input-container {
        padding-top: 1rem;
    }

.nj-input .nj-input-root:focus-visible {
    outline: none;
    outline-offset: 0;
}

.nj-input-control {
    border: 0;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
    flex-direction: column;
    vertical-align: top;
}

    .nj-input-control > .nj-input-control-input-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

.nj-input {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    font-weight: 400;
    line-height: var(--input-line-height);
    letter-spacing: .00938em;
    color: var(--palette-inputColor);
    background-color: var(--palette-inputBackground);
}

    .nj-input .nj-input-root {
        font: inherit;
        width: 100%;
        border: 0;
        height: 1.1876rem;
        margin: 0;
        display: block;
        min-width: 0;
        background: none;
        position: relative;
        box-sizing: content-box;
        letter-spacing: inherit;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .nj-input .nj-input-options {
        background-color: var(--palette-inputOptionsBackground);
    }

.nj-input-label.nj-input-label-animated {
    font-weight: 400;
    line-height: 1;
    letter-spacing: .00938rem;
    pointer-events: none;
    -webkit-user-select: none; /* For Chrome, Safari, and Opera */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.nj-input-label.nj-input-label-animated {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0rem) scale(1);
}

    .nj-input-label.nj-input-label-animated:not(.empty),
    .nj-input-label.nj-input-label-animated.focus {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -1.2rem) scale(0.75);
        transform-origin: top left;
    }

.nj-input-label.nj-input-label-animated {
    display: block;
    transform-origin: top left;
}

.nj-input-label-animated {
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.nj-input .nj-input-focus-box .nj-input-root:not([class*="nj-p-"]),
.nj-input-focus-box .nj-input-label:not([class*="nj-p-"]) {
    padding: var(--input-box-inner-padding);
}

.nj-input-label.nj-input-label-animated {
    opacity: 0.8;
}

    .nj-input-label.nj-input-label-animated.focus {
        color: var(--palette-primary);
        opacity: 1;
    }

.nj-input.nj-input-underline:has(.nj-input-root.focus) > .nj-input.nj-input-underline:before {
    border-color: var(--palette-primary);
}

.nj-input.nj-input-underline:before:has(.nj-input-root.focus) {
    border-color: var(--palette-primary);
}

.nj-input .nj-input-focus-box {
    position: relative;
    width: 100%;
    padding: var(--input-box-inner-padding);
}
