.nj-tabs {
    display: flex;
    flex-wrap: wrap;
}

.nj-tabs-column {
    flex-direction: column;
}

    .nj-tabs-column > .nj-tabs-header {
        flex-direction: row;
    }

.nj-tabs-column-reverse {
    flex-direction: column-reverse;
}

    .nj-tabs-column-reverse > .nj-tabs-header {
        flex-direction: row;
    }

.nj-tabs-row {
    flex-direction: row;
}

    .nj-tabs-row > .nj-tabs-header {
        flex-direction: column;
    }

.nj-tabs-row-reverse {
    flex-direction: row-reverse;
}

    .nj-tabs-row-reverse > .nj-tabs-header {
        flex-direction: column;
    }

.nj-tabs-header {
    display: flex;
    flex-wrap: wrap;
}

.nj-tabs-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}