:root { /* Nj Theme : Palette */
--palette-appbarBackground: rgba(0,0,255,1);
--palette-appbarText: rgba(255,255,255,1);
--palette-background: rgba(30,0,51,1);
--palette-backgroundContrast: rgba(230,230,230,1);
--palette-black: rgba(13,13,13,1);
--palette-error: rgba(255,0,0,1);
--palette-info: rgba(30,144,255,1);
--palette-inputColor: rgba(230,230,230,1);
--palette-inputBackground: rgba(255,255,255,0);
--palette-inputBorderColor: rgba(255,255,255,0.8);
--palette-inputOptionsBackground: rgba(30,0,51,1);
--palette-primary: rgba(220,20,60,1);
--palette-primaryContrast: rgba(243,243,243,1);
--palette-secondary: rgba(0,178,178,1);
--palette-secondaryContrast: rgba(0,0,0,1);
--palette-success: rgba(39,160,39,1);
--palette-tertiary: rgba(225,175,51,1);
--palette-tertiaryContrast: rgba(0,0,0,1);
--palette-textDisabled: rgba(183,191,200,0.4980392156862745);
--palette-warning: rgba(255,165,0,1);
--palette-errorContrast: rgba(255,255,255,1);
--palette-infoContrast: rgba(255,255,255,1);
--palette-loadingBarColor: rgba(255,0,0,1);
--palette-overlayDark: rgba(128,128,128,0.4980392156862745);
--palette-overlayLight: rgba(255,255,255,0.4980392156862745);
--palette-successContrast: rgba(255,255,255,1);
--palette-warningContrast: rgba(255,255,255,1);
--palette-white: rgba(255,255,255,1);
--dark-appbarBackground: rgba(0,0,255,1);
--dark-appbarText: rgba(255,255,255,1);
--dark-background: rgba(30,0,51,1);
--dark-backgroundContrast: rgba(230,230,230,1);
--dark-black: rgba(13,13,13,1);
--dark-error: rgba(255,0,0,1);
--dark-info: rgba(30,144,255,1);
--dark-inputColor: rgba(230,230,230,1);
--dark-inputBackground: rgba(255,255,255,0);
--dark-inputBorderColor: rgba(255,255,255,0.8);
--dark-inputOptionsBackground: rgba(30,0,51,1);
--dark-primary: rgba(220,20,60,1);
--dark-primaryContrast: rgba(243,243,243,1);
--dark-secondary: rgba(0,178,178,1);
--dark-secondaryContrast: rgba(0,0,0,1);
--dark-success: rgba(39,160,39,1);
--dark-tertiary: rgba(225,175,51,1);
--dark-tertiaryContrast: rgba(0,0,0,1);
--dark-textDisabled: rgba(183,191,200,0.4980392156862745);
--dark-warning: rgba(255,165,0,1);
--dark-errorContrast: rgba(255,255,255,1);
--dark-infoContrast: rgba(255,255,255,1);
--dark-loadingBarColor: rgba(255,0,0,1);
--dark-overlayDark: rgba(128,128,128,0.4980392156862745);
--dark-overlayLight: rgba(255,255,255,0.4980392156862745);
--dark-successContrast: rgba(255,255,255,1);
--dark-warningContrast: rgba(255,255,255,1);
--dark-white: rgba(255,255,255,1);
--light-appbarBackground: rgba(0,0,255,1);
--light-appbarText: rgba(255,255,255,1);
--light-background: rgba(217,217,217,1);
--light-backgroundContrast: rgba(0,0,0,1);
--light-black: rgba(13,13,13,1);
--light-error: rgba(255,0,0,1);
--light-info: rgba(30,144,255,1);
--light-inputColor: rgba(0,0,0,1);
--light-inputBackground: rgba(255,255,255,0);
--light-inputBorderColor: rgba(0,0,0,0.8);
--light-inputOptionsBackground: rgba(217,217,217,1);
--light-primary: rgba(220,20,60,1);
--light-primaryContrast: rgba(243,243,243,1);
--light-secondary: rgba(0,178,178,1);
--light-secondaryContrast: rgba(0,0,0,1);
--light-success: rgba(39,160,39,1);
--light-tertiary: rgba(225,175,51,1);
--light-tertiaryContrast: rgba(0,0,0,1);
--light-textDisabled: rgba(0,0,0,0.3764705882352941);
--light-warning: rgba(255,165,0,1);
--light-white: rgba(230,230,230,1);
--light-errorContrast: rgba(255,255,255,1);
--light-infoContrast: rgba(255,255,255,1);
--light-loadingBarColor: rgba(255,0,0,1);
--light-overlayDark: rgba(128,128,128,0.4980392156862745);
--light-overlayLight: rgba(255,255,255,0.4980392156862745);
--light-successContrast: rgba(255,255,255,1);
--light-warningContrast: rgba(255,255,255,1);
}
